*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #e8e5a4;
   font-family: 'Segeo UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
 display: grid;
 grid-template-areas:
    "header"
    "nav"
    "one"
    "two"
    "three"
    "footer";
 line-height: 1.4;
 margin-left: auto;
 margin-right: auto;
}

header {
  background-color: #5394ff;
  border-bottom: solid 2px #939292;
  box-shadow: #000 3px 0 3px;
  font-family: 'lato' , sans-serif;
  grid-area: header;
  height: 20vh;
  margin-bottom: .5rem;
  text-align: center;
  /*width: 100%;*/
}
.brand span{
  color:#dddddd;
  text-shadow: 1px 1px 10px #222222;
}


footer {
  background-color: #5394ff;
  /*border: solid 1px #939292*/
  font-family: 'Lato', sans-serif;
  grid-area: footer;
  height: auto;
  text-align: center;
  /*width: 100vw;*/
}
p{
  font-family: 'Lato:300i';
  text-align: center;
  text-shadow: #aaaaaa 1px 0 10px;
}

.one {
  /*border-bottom: solid 1px #939292;*/
  grid-area: one;
  height: auto;
  margin: 2rem;


}
.two{
  /*border-bottom:solid 1px #939292;*/
  grid-area: two;
  height: auto;
  margin: 2rem;


}

.three{
  border-bottom:solid 1px #939292;
  grid-area: three;
  height: auto;
  margin: auto;

}
nav{
  background-color: #c0cadd;
  border-bottom: solid 1px #939292;
  box-shadow: #000 3px 0 3px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 4px #5a5a5a;
}
a:nth-child(1){
  margin-right: 2rem;
  /*color: #53941ff;*/
}
a:nth-child(2){
  margin-right: 2rem;
  /*color: #5394ff;*/
}
a:nth-child(3){
  margin-right: 2rem;
  /*color: #5394ff;*/
}
.fa-stack span{

}

.fa-stack-1x{
  color: #ff8eff;
  font-size: 4em;
  text-shadow: #3e4551 1px 1px 2px;
  transform: rotate(55deg);
  z-index: auto;
}
.fa-stack-2x{
  color: #000000;
  font-size: 3em;
  transform: rotate(55deg);
}
.fa-ravelry{
  color: #5394ff;
  font-size: 2em;
  /* margin-right:1.5em; */
  margin:auto;
}
form{
  border: 1px solid black;
  border-left:8px solid #5394ff;
  box-shadow: black 1px 1px 2px;
  margin-bottom:2em;
  padding:2rem;
}
 button{
   color: #5394ff;
   font-family: 'Lato', sans-serif;
 }
img{
  border-radius: 8px;
  display: block;
  height: auto;
  filter: hue-rotate(40deg);
  width: 100%;
}
