*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #fefcce;
   font-family: 'Segeo UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
 display: grid;
 grid-template-areas:
    "header"
    "nav"
    "one"
    "two"
    "three"
    "footer";
 line-height: 1.4;
 margin-left: auto;
 margin-right: auto;
}

header {
  border-bottom: solid 2px #939292;
  background-color: #5394ff;
  box-shadow: #000 3px 0 3px;
  font-family: 'lato' , sans-serif;
  grid-area: header;
  grid-row: 1fr 1fr;
  height: 20vh;
  margin-bottom: .5rem;
  text-align: center;
  /*width: 100%;*/
}

.fa-cut{
  color: #ffed71;
  font-size: 3rem;
  margin-top: 4vh;
  transform: rotate(47deg);
}

nav{
  background-color: #c0cadd;
  border-bottom: solid 1px #939292;
  box-shadow: #000 3px 0 3px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 4px #5a5a5a;
}

a:nth-child(1){
  margin-right: 2rem;
  /*color: #53941ff;*/
}

a:nth-child(2){
  margin-right: 2rem;
  /*color: #5394ff;*/
}

a:nth-child(3){
  margin-right: 2rem;
  /*color: #5394ff;*/
}

.brand span{
  color:#dddddd;
  text-shadow: 1px 1px 10px #222222;
}

img{
  border-radius: 8px;
  display: block;
  height: auto;
  filter: hue-rotate(40deg);
  width: 100%;
}

p{
  font-family: 'Lato:300i';
  text-align: center;
  text-shadow: #aaaaaa 1px 0 10px;
}
.dept{
  margin-top: 15%;
}

.web-skills{
  background: rgba(15, 104, 250, 0.5);
  border: 1px solid #ddd;
  border-radius:14%;
  box-shadow: 2px 3px gray;
}

.web-skills img{
  display: inline;
  padding: 5px;
  width: 30%;
}

.dept{
  margin-bottom: 25vh;
}

.one {
  /*border-bottom: solid 1px #939292;*/
  grid-area: one;
  height: auto;
  margin: 2rem;
}

video{
  width: 100%;
  box-shadow: 4px 3px rgba(18, 92, 213, 0.4);
}

.two{
  /*border-bottom:solid 1px #939292;*/
  grid-area: two;
  height: auto;
  margin: 2rem;
}

.fa-grav{
  font-size: 40vh;
  color: #5394ff;
}

.three{
  border-bottom:solid 1px #939292;
  grid-area: three;
  height: auto;
  margin: auto;
}

.fa-flask{
  color: #5394ff;
  font-size: 2em;
  /* margin-right:1.5em; */
  margin:auto;
}

form{
  border: 1px solid black;
  border-left:8px solid #5394ff;
  box-shadow: black 1px 1px 2px;
  margin-bottom:2em;
  padding:2rem;
}

 button{
   color: #5394ff;
   font-family: 'Lato', sans-serif;
 }

footer {
  background-color: #5394ff;
  /*border: solid 1px #939292*/
  font-family: 'Lato', sans-serif;
  grid-area: footer;
  height: auto;
  text-align: center;
  /*width: 100vw;*/
}
@media (min-width: 481px){
  .wrapper{
    grid-template-columns: 1fr 3fr;
    grid-gap:4vh;
    grid-template-areas:
      "header header"
       "nav nav"
       "one three"
       " two two"
       " footer footer";
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  footer{
    font-size: 1.8em;
    height:20vh;
  }
}
/* @media all and (max-width: 1690px) { ...} */
/* @media all and (max-width: 1280px) {} */
/* @media all and (max-width: 980px) { ... } */
/* @media all and (max-width: 736px) { ... } */
/* @media all and (max-width: 480px) { ... } */
