body{
  border:10px solid #5394ff;
  margin:0;
  padding:0;
}
.container{
  background-color: #bebebe;
  width: 100vw;
}


.box{
  background-color: #5394ff;
  /*border: 1px solid black;*/
  font-size: 1.8em;
  height: 16vh;
  margin:auto;
  opacity: .8;
  width: 100vw;

}

.box p{
  color: #000000;
  font-family: cursive, fantasy;
  font-weight: 400;
  margin:auto;
  text-align: center;
  text-decoration: underline;

}

.sectOne{
  font-size: 1.8em;
  height: 20vh;
  line-height: 1.3;
  margin: 20%;
}
nav{
  background-color: #5394ff;
  /*border:2px solid #bebebe;*/
  font-size: 1.4em;
  position: fixed;
  width:100vw;
  z-index: 1;
}

a{
  /*border-right: 2px solid #bebebe;*/
  font-family: fantasy;
}

a:hover{
  color:#a3f3d2;
}

.sectThree{
  font-size: 1.3em;
  height: 20vh;
  margin-top:10em;
  text-align: center;
}
footer{
   background-color: #5394ff;
   height:10vh;
   position: relative;
   width: 100vw;
}
.sectTwo{
  font-size: 2rem;
  height: 20vh;
 ;

}
